include kicost/AUTHORS.rst
include CONTRIBUTING.rst
include kicost/HISTORY.rst
include LICENSE
include README.rst
include kicost/kicost.ico
include block_diag.png
include gui.png
include kicost/kitspace.png


recursive-include tests *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include docs *.rst conf.py Makefile make.bat
