include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.md
include LICENSE
include README.md
include kicost/kicost.ico

recursive-include tests *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include docs *.rst *.md conf.py Makefile make.bat
